@model PagedList.IPagedList<Ichup.Models.image>
@using PagedList.Mvc;
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var totalItemImage = 0;
}
<!-- ============================  Categories Start ============================ -->
    <style>
        tr {
            border-bottom:1px solid #0ff;
        }
    </style>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
	<script src="/Scripts/jquery.geocomplete.js"></script> 
    <script>
        isLoadedCat=false;
       
        acategory=@Html.Raw(@ViewBag.acategory);

        function setValueDefault(id,filter1,filter2,filter3,filter4,filter5){
            var index=0;
            var i=0;
            for(i=0;i<3;i++){
                index=i+1;
                if (filter1.indexOf(a1[i])>=0){
                    document.getElementById("f-"+id+"-1_"+index).checked=true;
                }
            }
            for(i=0;i<3;i++){
                index=i+1;
                if (filter2.indexOf(a2[i])>=0){
                    document.getElementById("f-"+id+"-2_"+index).checked=true;
                }
            }
            //console.log(acategory.length);
            //console.log(filter3);
            for(i=0;i<acategory.length;i++){
                index=i+1;
                //console.log(filter3);
                if (filter3.indexOf(acategory[i]+", ")>=0){
                    document.getElementById("f-"+id+"-3_"+index).checked=true;
                }
            }
        
        }
    </script>
@*<input type="text" autocomplete="on" class="form-control" placeholder="địa điểm" id="location" required data-validation-required-message="địa điểm">*@
<div class="map_canvas" style="display:none;"></div>
    <section class="search-index-08">
        <div class="container">
            <div class="col-md-12">
                <ul class="post-menu-cat">
                    <li class="active"><a class="col-xs-12 col-sm-4 col-md-2" href="/Photos/Upload">Upload ảnh/Video</a></li>
                    <li><a class="col-xs-12 col-sm-4 col-md-2" href="/Photos/User">Gán từ khóa</a></li>
                    <li><a class="col-xs-12 col-sm-4 col-md-2" href="#">Quản lý ảnh/Video</a></li>
                    <li><a class="col-xs-12 col-sm-4 col-md-2" href="#">Lịch sử ảnh đã mua</a></li>
                    <li><a class="col-xs-12 col-sm-4 col-md-2" href="#">Thông tin thanh toán</a></li>
                    <li><a class="col-xs-12 col-sm-4 col-md-2" href="#">Quản lý tài khoản</a></li>

                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
    <section class="section-09">
        <div class="container">
            <div class="col-md-12 col-center">
                <div class="headline">
                    <h2>
                        Gán từ khóa
                    </h2>


                </div>
                <div class="row">
                    <div class="bg-12">
                        <div class="col-md-12 col-center">
                            <div class="title-09">Nếu khách hàng không tìm thấy ảnh họ cần, họ sẽ không thể mua. Mô tả chính xác và từ khóa đúng
giúp bức ảnh của bạn sẽ được tìm thấy dễ hơn, và có thể bán được nhiều hơn. Hướng dẫn</div>
                        </div>

                        <div class="clear"></div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
<section class="section-10">

        <div class="container">
            <div class="col-md-12 col-center">
                <div class="row">
                    <div class="col-md-4">
                        <div class="number-12">
                            <h2>1</h2>
                        </div>
                        <div class="col-md-8">
                            <div class="text-section-10">
                                <div class="title">Hình ảnh</div>
                                <div class="checkbox fl-left">
                                    <input type="checkbox" name="checkboxG6" id="checkboxG6" class="css-checkbox" /><label for="checkboxG6" class="css-label"></label>
                                </div>
                                <div class="text">
                                    Chọn tất cả
                                </div>

                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="col-md-4 border-lr-12">
                        <div class="number-12">
                            <h2>2</h2>

                        </div>
                        <div class="text-section-10">
                            <div class="title">Phân loại nhóm</div>

                            <div class="text">
                                Đánh dấu vào từng ô để mô tả bức ảnh của bạn Một bức ảnh có thể thuộc nhiều chủ đề khác nhau

                            </div>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-4">
                        <div class="number-12">
                            <h2>3</h2>

                        </div>
                        <div class="text-section-10">
                            <div class="title">Bước 3</div>

                            <div class="text">Dùng một câu ngắn gọn xúc tích mô tả ảnh của bạn. Hướng dẫn Sử dụng những từ khóa ngắn gọn (2-3 chữ) để liệt kê những thành phần
trong ảnh của bạn. Hướng dẫn</div>

                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
        </div>

    </section>
 @foreach(var item in Model){
                
                <text>
<section class="section-11">

        <div class="container">
            <div class="col-md-12 col-center">
                <div class="row">
                    <div class="col-md-4">
                        <div class="item-12">
                            <div class="images"><img src="..@item.link_thumbail_big" alt="img" style="border-radius:11px;width:285px;height:202px;" /></div>
                            <div class="checkbox">
                                <input type="checkbox" name="checkboxG6" id="checkboxG6" class="css-checkbox" /><label for="checkboxG6" class="css-label">Chọn ảnh này</label>
                            </div>
                            <div class="div-submit margin-top-125">
                                <button type="button" class="btn-submit" onclick="save(@item.id)">Save</button>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="col-md-4 border-lr-12">
                        <div class="col-sm-6 col-md-4">
                            <div class="item-center">
                                <div class="text">Loại ảnh</div>
                                @Html.Raw(@Ichup.Config.getF1CkUser(@item.id,@item.filter_1))
                               
                            </div>

                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="item-center">
                               <div class="text">Kiểu ảnh</div>
                                @Html.Raw(@Ichup.Config.getF2CkUser(@item.id,@item.filter_2))
                            </div>

                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="item-center">
                                <div class="text">Góc chụp</div>
                                 @Html.Raw(@Ichup.Config.getF5CkUser(@item.id,@item.filter_5))
                            </div>

                        </div>

                        <div class="col-md-12 margin-top-30">
                            <div class="item-center">
                                <div class="text">Chủ đề</div>
                                 @Html.Raw(@Ichup.Config.getF3CkUser(@item.id,@item.filter_3))

                            </div>
                        </div>
                        <div class="col-md-12 margin-top-30">
                            <div class="item-center">
                                <div class="text">Người</div>
                                 @Html.Raw(@Ichup.Config.getF4CkUser(@item.id,@item.filter_4))

                            </div>
                        </div>
                        


                    </div>
                    <div class="col-md-4">
                        <div class="item-center">
                            <div class="text">Mô tả ảnh</div>
                            <div class="lable-1"><textarea id="name_@item.id" name="name_@item.id" placeholder="Mô tả ảnh" rows="2" cols="10">@item.name</textarea></div>
                           <div class="lable-2">
                                <div class="text margin-top-30 margin-bottom-5">Từ khóa</div>
                                <div class="lable-1"><textarea id="keyword_@item.id" name="keyword_@item.id"  placeholder="Từ khóa cách nhau dấu ," rows="2" cols="10">@item.keywords2</textarea></div>
                                @*<div class="text-label"><a href="#">Coppy nội dung</a><a href="#">Xóa Nội dung</a></div>*@
                                <div class="text margin-top-30 margin-bottom-5">Địa điểm chụp ảnh này</div>
                                <div class="lable-1">
                                    <input type="text" autocomplete="on"  id="address_@item.id" name="address_@item.id" value="@item.address" style="width:100%;"/>
                                    <input type="hidden" id="lon_@item.id" name="lon_@item.id" value="@item.lon"/>
                                    <input type="hidden" id="lat_@item.id" name="lat_@item.id" value="@item.lat"/>
                                    
                                    @*<div class="map_canvas" style="display:none;"></div>*@
                                    <script>
                                        $(function () {
                                            //var long;
                                            //var lat;
                                            var options = {
                                                map: ".map_canvas"
                                            };
                                            $("#address_@item.id").geocomplete(options)
                                              .bind("geocode:result", function (event, result) {
                                                  $("#lon_@item.id").val(result.geometry.location.lng());
                                                  $("#lat_@item.id").val(result.geometry.location.lat());
                                                  //alert("long" + result.geometry.location.lng() + ", lat=" + result.geometry.location.lat());
                                              })
                                              .bind("geocode:error", function (event, status) {
                                                  $.log("ERROR: " + status);
                                              })
                                              .bind("geocode:multiple", function (event, results) {
                                                  $.log("Multiple: " + results.length + " results found");
                                              });
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>

    </section>
</text>
                totalItemImage++;
            }

    <div class="pagination ">
                                  <ul>
                                    @for (int i = 1; i <= Model.PageCount; i++){
                                        <li ><a href="/Photos/User?keyword=@ViewBag.keyword&id=@ViewBag.id&page=@i" style="cursor:pointer;">@i</a></li>
                                    }
                                  </ul>
                                </div> <!-- end pagination -->


<script>
    
    
    var totalItemImage=@totalItemImage;
    function save(id){
        var formdata = new FormData(); //FormData object
        var filter_1=getValueOfField(id,1);
        var filter_2=getValueOfField(id,2);
        var filter_3=getValueOfField(id,3);
        var filter_4=getValueOfField(id,4);
        var filter_5=getValueOfField(id,5);
       
        if (document.getElementById("name_" + id) && document.getElementById("name_" + id).value == "") {
            alert("Nhập mô tả ảnh!");
            document.getElementById("name_" + id).focus();
            return;
        }
        if (document.getElementById("keyword_" + id) && document.getElementById("keyword_" + id).value == "") {
                alert("Nhập từ khóa cho ảnh này!");
                document.getElementById("keyword_" + id).focus();
                return;
            }
        
        var sale_type=0;
        var price=1000000;
        //if (document.getElementById("sale_type_" + id+"_2").checked) sale_type=1;;
        //alert(document.getElementById("sale_type_" + id+"_2").checked);
        //return;
        //if (document.getElementById("f-" + id+"-0_1").checked) price=0;
        formdata.append("id", id);
        formdata.append("filter_1", filter_1);
        formdata.append("filter_2", filter_2);
        formdata.append("filter_3", filter_3);
        formdata.append("filter_4", filter_4);
        formdata.append("filter_5", filter_5);
        formdata.append("keywords", document.getElementById("keyword_" + id).value);
        formdata.append("price", price);
        formdata.append("sale_type", 0);
        formdata.append("name", document.getElementById("name_" + id).value );
        formdata.append("address", document.getElementById("address_" + id).value );
        formdata.append("lon", document.getElementById("lon_" + id).value );
        formdata.append("lat", document.getElementById("lat_" + id).value );
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/Photos/UpdateFilter');
        xhr.send(formdata);
        var content = "";
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                if (xhr.responseText == "1") {
                    alert("Cập nhật thành công");
                    //window.location.href = "/Photos/User/1";
                } else {
                    alert("Chương trình đang cập nhật, xin quay lại sau!");
                }
            }
        }

    }
    function del(id){
        if (!confirm("Bạn có chắc chắn xóa?"))
        {
            return;
        }
        var formdata = new FormData(); //FormData object
        formdata.append("id", id);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/Photos/Del');
        xhr.send(formdata);
        var content = "";
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                if (xhr.responseText == "1") {
                    //alert("xóa ảnh thành công");
                    $("#div-"+id).html("");
                    $("#div-"+id).css("background-color","red");
                    $("#div-"+id+"-2").html("");
                    $("#div-"+id+"-2").css("background-color","red");
                } else {
                    alert("Chương trình đang cập nhật, xin quay lại sau!");
                }
            }
        }

    }
    function getValueOfField(id,index){
        var value="";
        for(var i=1;i<=20;i++){
            if(document.getElementById("f-"+id+"-"+index+"_"+i)){
                if (document.getElementById("f-"+id+"-"+index+"_"+i).checked){
                    value+=document.getElementById("f-"+id+"-"+index+"_"+i).value+", ";
                }
            }
        }
        return value;
    }
    
</script>