@model PagedList.IPagedList<Ichup.Models.image>
@using PagedList.Mvc;
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var totalItemImage = 0;
}
<!-- ============================  Categories Start ============================ -->
    <style>
        tr {
            border-bottom:1px solid #0ff;
        }
    </style>
    <script>
        isLoadedCat=false;
       
        acategory=@Html.Raw(@ViewBag.acategory);

        function setValueDefault(id,filter1,filter2,filter3,filter4,filter5){
            var index=0;
            var i=0;
            for(i=0;i<3;i++){
                index=i+1;
                if (filter1.indexOf(a1[i])>=0){
                    document.getElementById("f-"+id+"-1_"+index).checked=true;
                }
            }
            for(i=0;i<3;i++){
                index=i+1;
                if (filter2.indexOf(a2[i])>=0){
                    document.getElementById("f-"+id+"-2_"+index).checked=true;
                }
            }
            //console.log(acategory.length);
            //console.log(filter3);
            for(i=0;i<acategory.length;i++){
                index=i+1;
                //console.log(filter3);
                if (filter3.indexOf(acategory[i]+", ")>=0){
                    document.getElementById("f-"+id+"-3_"+index).checked=true;
                }
            }
        
        }
    </script>
    <section class="search-index-08">
        <div class="container">
            <div class="col-md-12">
                <ul class="post-menu-cat">
                    <li class="active"><a class="col-xs-12 col-sm-4 col-md-2" href="/Photos/User">Upload ảnh/Video</a></li>
                    <li><a class="col-xs-12 col-sm-4 col-md-2" href="/Photos/User">Gán từ khóa</a></li>
                    <li><a class="col-xs-12 col-sm-4 col-md-2" href="#">Quản lý ảnh/Video</a></li>
                    <li><a class="col-xs-12 col-sm-4 col-md-2" href="#">Lịch sử ảnh đã mua</a></li>
                    <li><a class="col-xs-12 col-sm-4 col-md-2" href="#">Thông tin thanh toán</a></li>
                    <li><a class="col-xs-12 col-sm-4 col-md-2" href="#">Quản lý tài khoản</a></li>

                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
    <section class="section-09">
        <div class="container">
            <div class="col-md-12 col-center">
                <div class="headline">
                    <h2>
                        Gán từ khóa
                    </h2>


                </div>
                <div class="row">
                    <div class="bg-12">
                        <div class="col-md-12 col-center">
                            <div class="title-09">Nếu khách hàng không tìm thấy ảnh họ cần, họ sẽ không thể mua. Mô tả chính xác và từ khóa đúng
giúp bức ảnh của bạn sẽ được tìm thấy dễ hơn, và có thể bán được nhiều hơn. Hướng dẫn</div>
                        </div>

                        <div class="clear"></div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
<section class="section-10">

        <div class="container">
            <div class="col-md-12 col-center">
                <div class="row">
                    <div class="col-md-4">
                        <div class="number-12">
                            <h2>1</h2>
                        </div>
                        <div class="col-md-8">
                            <div class="text-section-10">
                                <div class="title">Hình ảnh</div>
                                <div class="checkbox fl-left">
                                    <input type="checkbox" name="checkboxG6" id="checkboxG6" class="css-checkbox" /><label for="checkboxG6" class="css-label"></label>
                                </div>
                                <div class="text">
                                    Chọn tất cả
                                </div>

                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="col-md-4 border-lr-12">
                        <div class="number-12">
                            <h2>2</h2>

                        </div>
                        <div class="text-section-10">
                            <div class="title">Phân loại nhóm</div>

                            <div class="text">
                                Đánh dấu vào từng ô để mô tả bức ảnh của bạn Một bức ảnh có thể thuộc nhiều chủ đề khác nhau

                            </div>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-4">
                        <div class="number-12">
                            <h2>3</h2>

                        </div>
                        <div class="text-section-10">
                            <div class="title">Bước 3</div>

                            <div class="text">Dùng một câu ngắn gọn xúc tích mô tả ảnh của bạn. Hướng dẫn Sử dụng những từ khóa ngắn gọn (2-3 chữ) để liệt kê những thành phần
trong ảnh của bạn. Hướng dẫn</div>

                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
        </div>

    </section>
 @foreach(var item in Model){
                
                <text>
<section class="section-11">

        <div class="container">
            <div class="col-md-12 col-center">
                <div class="row">
                    <div class="col-md-4">
                        <div class="item-12">
                            <div class="images"><img src="..@item.link_thumbail_big" alt="img" style="border-radius:11px;width:285px;height:202px;" /></div>
                            <div class="checkbox">
                                <input type="checkbox" name="checkboxG6" id="checkboxG6" class="css-checkbox" /><label for="checkboxG6" class="css-label">Chọn ảnh này</label>
                            </div>
                            <div class="div-submit margin-top-125">
                                <button type="submit" class="btn-submit">Save</button>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="col-md-4 border-lr-12">
                        <div class="col-sm-6 col-md-4">
                            <div class="item-center">
                                <div class="text">Loại ảnh</div>
                                @Html.Raw(@Ichup.Config.getF1CkUser(@item.id,@item.filter_1))
                               
                            </div>

                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="item-center">
                               <div class="text">Kiểu ảnh</div>
                                @Html.Raw(@Ichup.Config.getF2CkUser(@item.id,@item.filter_2))
                            </div>

                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="item-center">
                                <div class="text">Góc chụp</div>
                                 @Html.Raw(@Ichup.Config.getF5CkUser(@item.id,@item.filter_5))
                            </div>

                        </div>

                        <div class="col-md-12 margin-top-30">
                            <div class="item-center">
                                <div class="text">Chủ đề</div>
                                 @Html.Raw(@Ichup.Config.getF3CkUser(@item.id,@item.filter_3))

                            </div>
                        </div>
                        
                        <div class="col-sm-6 col-md-4 margin-top-30">
                            <div class="item-center">
                                <div class="text"></div>

                                <div class="checkbox">
                                    <input type="checkbox" name="checkboxG6" id="checkboxG6" class="css-checkbox" /><label for="checkboxG6" class="css-label">Nội Dung 1</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" name="checkboxG6" id="checkboxG6" class="css-checkbox" /><label for="checkboxG6" class="css-label">Nội Dung 2</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" name="checkboxG6" id="checkboxG6" class="css-checkbox" /><label for="checkboxG6" class="css-label">Nội Dung 3</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" name="checkboxG6" id="checkboxG6" class="css-checkbox" /><label for="checkboxG6" class="css-label">Nội Dung 4</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" name="checkboxG6" id="checkboxG6" class="css-checkbox" /><label for="checkboxG6" class="css-label">Nội Dung 5</label>
                                </div>


                            </div>

                        </div>

                        <div class="col-md-12 margin-top-30">
                            <div class="item-center">
                                <div class="text">Tiêu đề 5</div>
                            </div>
                            <div class="col-md-6 padding-left-0">
                                <div class="btn-dropdown-group">
                                    <button id="dropdown-option-index" type="button" class="btn btn-default dropdown-toggle btn-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lorem ipsum <span class="fa fa-angle-down"></span> <span class="sr-only">Toggle Dropdown</span> </button>
                                    <div id="ul-dropdown-option-index" class="ul-btn-dropdown">
                                        <div class="item-checkbox">
                                            <input type="checkbox" name="checkbox30" id="checkbox30" checked class="css-checkbox"><label for="checkbox30" class="css-label">Lorem ipsum</label>
                                        </div>
                                        <div class="item-checkbox">
                                            <input type="checkbox" name="checkbox31" id="checkbox31" class="css-checkbox"><label for="checkbox31" class="css-label">Lorem ipsum</label>
                                        </div>
                                        <div class="item-checkbox">
                                            <input type="checkbox" name="checkbox32" id="checkbox32" class="css-checkbox"><label for="checkbox32" class="css-label">Lorem ipsum</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 padding-left-0">
                                <div class="btn-dropdown-group">

                                    <button id="dropdown-option-index-1" type="button" class="btn btn-default dropdown-toggle btn-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lorem ipsum <span class="fa fa-angle-down"></span> <span class="sr-only">Toggle Dropdown</span> </button>
                                    <div id="ul-dropdown-option-index-1" class="ul-btn-dropdown">
                                        <div class="item-checkbox">
                                            <input type="checkbox" name="checkbox33" id="checkbox33" checked class="css-checkbox"><label for="checkbox33" class="css-label">Lorem ipsum</label>
                                        </div>
                                        <div class="item-checkbox">
                                            <input type="checkbox" name="checkbox34" id="checkbox34" class="css-checkbox"><label for="checkbox34" class="css-label">Lorem ipsum</label>
                                        </div>
                                        <div class="item-checkbox">
                                            <input type="checkbox" name="checkbox35" id="checkbox35" class="css-checkbox"><label for="checkbox35" class="css-label">Lorem ipsum</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-4">
                        <div class="item-center">
                            <div class="text">Nội dung     <span class="text-12-2"><span class="red">15</span>/200</span></div>
                            <div class="lable-1"><textarea placeholder="Lorem ipsum dolor sit amet"></textarea></div>
                            <p>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet</p>


                            <div class="lable-2">
                                <div class="text margin-top-30 margin-bottom-5">Nội dung     <span class="text-12-2"><span class="red">15</span>/200</span></div>

                                <label>
                                    <button type="button" class="btn btn-default">
                                        Lorem
                                    </button>
                                    <button type="button" class="btn btn-default">
                                        Lorem ipsum
                                    </button><button type="button" class="btn btn-default">
                                        Lorem ipsum
                                    </button><button type="button" class="btn btn-default">
                                        Lorem ipsum
                                    </button><button type="button" class="btn btn-default">
                                        Lorem ipsum
                                    </button>

                                </label>
                                <div class="text-label"><a href="#">Coppy nội dung</a><a href="#">Xóa Nội dung</a></div>


                            </div>
                            <p>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet</p>

                        </div>

                    </div>


                </div>
            </div>
        </div>

    </section>
</text>
                totalItemImage++;
            }

    


<script>
    
    
    var totalItemImage=@totalItemImage;
    function save(id){
        var formdata = new FormData(); //FormData object
        var filter_1=getValueOfField(id,1);
        var filter_2=getValueOfField(id,2);
        var filter_3=getValueOfField(id,3);
        var filter_4=getValueOfField(id,4);
        var filter_5=getValueOfField(id,5);
       
        if (document.getElementById("keyword_" + id) && document.getElementById("keyword_" + id).value == "") {
                alert("Nhập từ khóa cho ảnh này!");
                document.getElementById("keyword_" + id).focus();
                return;
            }
        //if (document.getElementById("price_" + id) && document.getElementById("price_" + id).value == "") {
        //        alert("Nhập giá cho ảnh này!");
        //        document.getElementById("price_" + id).focus();
        //        return;
        //}
        var sale_type=0;
        var price=1000000;
        //if (document.getElementById("sale_type_" + id+"_2").checked) sale_type=1;;
        //alert(document.getElementById("sale_type_" + id+"_2").checked);
        //return;
        if (document.getElementById("f-" + id+"-0_1").checked) price=0;
        formdata.append("id", id);
        formdata.append("filter_1", filter_1);
        formdata.append("filter_2", filter_2);
        formdata.append("filter_3", filter_3);
        formdata.append("filter_4", filter_4);
        formdata.append("filter_5", filter_5);
        formdata.append("keywords", document.getElementById("keyword_" + id).value );
        formdata.append("price", price);
        formdata.append("sale_type", 0);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/Photos/UpdateFilter');
        xhr.send(formdata);
        var content = "";
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                if (xhr.responseText == "1") {
                    alert("Cập nhật thành công");
                    //window.location.href = "/Photos/User/1";
                } else {
                    alert("Chương trình đang cập nhật, xin quay lại sau!");
                }
            }
        }

    }
    function del(id){
        if (!confirm("Bạn có chắc chắn xóa?"))
        {
            return;
        }
        var formdata = new FormData(); //FormData object
        formdata.append("id", id);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/Photos/Del');
        xhr.send(formdata);
        var content = "";
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                if (xhr.responseText == "1") {
                    //alert("xóa ảnh thành công");
                    $("#div-"+id).html("");
                    $("#div-"+id).css("background-color","red");
                    $("#div-"+id+"-2").html("");
                    $("#div-"+id+"-2").css("background-color","red");
                } else {
                    alert("Chương trình đang cập nhật, xin quay lại sau!");
                }
            }
        }

    }
    function getValueOfField(id,index){
        var value="";
        for(var i=1;i<=20;i++){
            if(document.getElementById("f-"+id+"-"+index+"_"+i)){
                if (document.getElementById("f-"+id+"-"+index+"_"+i).checked){
                    value+=document.getElementById("f-"+id+"-"+index+"_"+i).value+", ";
                }
            }
        }
        return value;
    }
</script>