@model Ichup.Models.image

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>image</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.keywords)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.keywords)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cat_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cat_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.link)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.link)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.link_thumbail_big)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.link_thumbail_big)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.link_thumbail_small)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.link_thumbail_small)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.link_big)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.link_big)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.link_small)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.link_small)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.total_views)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.total_views)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.total_buy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.total_buy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.total_download)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.total_download)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.total_download_big)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.total_download_big)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.total_download_small)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.total_download_small)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.member_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.member_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.date_post)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.date_post)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.filter_1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.filter_1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.filter_2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.filter_2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.filter_3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.filter_3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.filter_4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.filter_4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.filter_5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.filter_5)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.token)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.token)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.stt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.stt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.width)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.width)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.height)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.height)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sale_type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sale_type)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
