@model IEnumerable<Ichup.Models.image>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .table th td {
        border:solid 1px #4cff00;
    }
</style>
<h2>Danh sách ảnh</h2>
<div style="display:block;float:left;position:relative;padding-top:3px;height:auto;">
			<div class="input-append">
                <input type="text" id="k" name="k" value="@ViewBag.k" placeholder="Gõ từ khóa hoặc file id ảnh"><button class="btn" type="button" onclick="search();"><i class="icon-search"></i></button>
            </div>    
</div>
<table class="span12 table">
    <tr>
        <th>
            File ID
        </th>
        <th>
            Ảnh
        </th>
        <th>
            Từ khóa
        </th>
        <th>
            Bộ lọc
        </th>
        <th>
            Tác giả
        </th>
        <th>
            số lượt xem
        </th>
        <th>
            số lượt down ảnh small
        </th>
        <th>
            số lượt down ảnh big
        </th>
        <th>
            số lượt down ảnh gốc
        </th>
        <th>
            Kích cỡ
        </th>
        <th>
            Ngày gửi
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            #@item.id
        </td>
        <td>
            <img src="@Ichup.Config.domain/@item.link_small">
        </td>
        <td>
            @Html.Raw(item.keywords)
        </td>
        <td>
            Loại ảnh:@Html.Raw(item.filter_1)<br />
            Kiểu ảnh:@Html.Raw(item.filter_2)<br />
            Danh mục:@Html.Raw(item.filter_3)<br />
            Người:@Html.Raw(item.filter_4)<br />
            Góc chụp:@Html.Raw(item.filter_5)<br />
        </td>
        <td>
            <script></script>
        </td>
        <td>
            @item.total_views
        </td>
        <td>
            @item.total_download_small
        </td>
        <td>
            @item.total_download_big
        </td>
        <td>
            @item.total_download
        </td>
        <td>
            
        </td>
        <td>
            @item.date_post
        </td>        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
<script>
    function search() {
        window.location.href = "/Images/Index?k=" + document.getElementById("k").value;
    }
</script>