
@model PagedList.IPagedList<Ichup.Controllers.SearchController.searchitem>
@using PagedList.Mvc; 
@{
    ViewBag.Title = "Kết quả tìm kiếm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("~/Views/_imagepage.cshtml")
<section class="search-results">
      <div class="container">
        <div class="row">
          <aside class="span3">
            <div class="widgets-container">
              <div class="widget">
                @*<form action="" class="search-form">
                    <div class="input-append">
                      <input class="input-medium" id="keyword" type="text" placeholder="Nhập từ khóa" value="@ViewBag.keyword">
                      <button class="btn" type="button"><i class="icon-search"></i></button>
                    </div> <!-- end input-append -->
                  </form> <!-- end search form -->*@
              </div> <!-- end widget -->
             <div class="widget">
                <h4 class="title">Loại ảnh</h4>
                 <div>
                     @Html.Raw(@Ichup.Config.getF1Ck(@ViewBag.f1))   
                  </div><!-- end ui-slider -->
              </div> <!-- end widget --> 
              <div class="widget">
                <h4 class="title">Kiểu ảnh</h4>
                 <div>
                     @*<input type="checkbox" id="f-2_1" value="dọc" onchange="search();">dọc 
                     <input type="checkbox" id="f-2_2" value="ngang" onchange="search();">ngang
                     <input type="checkbox" id="f-2_3" value="rộng" onchange="search();">rộng       *@   
                     @Html.Raw(@Ichup.Config.getF2Ck(@ViewBag.f2))   
                  </div><!-- end ui-slider -->
              </div> <!-- end widget --> 
              @*<div class="widget">
                <h4 class="title">Price Range</h4>
                 <div class="noUiSlider horizontal">                   
                  </div><!-- end ui-slider -->

              </div> <!-- end widget --> *@

              <div class="widget">
                <h4 class="title">Danh mục</h4>
                  <form class="search-categories">
                 @Html.Raw(@Ichup.Config.getF3Ck(@ViewBag.f3))
                  </form>
              </div> <!-- end widget -->
              <div class="widget">
                <h4 class="title">Người</h4>
                  <form class="search-categories">
                 @Html.Raw(@Ichup.Config.getF4Ck(@ViewBag.f4))
                  </form>
              </div> <!-- end widget -->
              <div class="widget">
                <h4 class="title">Góc chụp</h4>
                  <form class="search-categories">
                 @Html.Raw(@Ichup.Config.getF5Ck(@ViewBag.f5))
                  </form>
              </div> <!-- end widget -->
               @*<div class="widget">
                <h4 class="title">License Types</h4>
                 <form class="license-types">
                   <label class="checkbox">
                     <input type="checkbox" value="" checked>
                     Free
                   </label>

                   <label class="checkbox">
                     <input type="checkbox" value="">
                     Creative
                   </label>

                   <label class="checkbox">
                     <input type="checkbox" value="">
                     Editorial
                   </label>

                 </form>

                </div> <!-- end widget -->*@



            </div> <!-- end widgets-container -->
          </aside> <!-- end span3 -->
          <div class="search-result-title">
            <div class="span9">
                <div class="row-fluid">
                  <div class="span8">
                    <h4 class="title">Tìm thấy (@Model.TotalItemCount) - <span>ảnh</span></h4>
                  </div> <!-- end span8 -->
                  <div class="span4">
                    <div class="portfolio-controllers-container">
                      <p class="pull-left sort-title">Sắp xếp -</p>
                      <div class="btn-group">
                        <button class="btn btn-large" id="order">Phù hợp nhất</button>
                        <button class="btn btn-large dropdown-toggle" data-toggle="dropdown">
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="filters">
                          <!-- dropdown menu links -->
                          <li><a onclick="setorder('RANK','Desc');"   id="order1">Phù hợp nhất</a></li>
                          <li><a onclick="setorder('id','Desc');" id="order2">Mới nhất</a></li>
                          <li><a onclick="setorder('id','Asc');" id="order3">Cũ nhất</a></li>
                          <li><a onclick="setorder('total_views','Desc');" id="order4">Xem nhiều nhất</a></li>
                        </ul>
                      </div> <!-- end btn-group -->
                    </div> <!-- end portfolio-controllers-container -->
                  </div> <!-- end span4 -->
                </div> <!-- end row-fluid -->
                    
                  <section class="top-images v2">

                      <div class="images-container v3">
                        <div class="row">
                          <div id="portfolio-container">
                            @foreach (var item in Model) { 
                                <text>
                                    <div class="span3 transition metal">
                                    <figure class="top-img">
                                      <img src="@item.link_thumbail_small" alt="img">
                                      <figcaption class="img-meta">
                                        <div class="row-fluid">
                                          <div class="span8">
                                            <a onclick="imagepage(@item.id)" class="img-id">#@item.id</a>
                                            @*<a href="#" class="img-tags">@item.filter_3</a>*@
                                          </div>
                                          <div class="span4">
                                            <a href="#" class="btn download-btn"><i class="icon-download"></i></a>
                                          </div>
                                        </div>
                                        <div class="roll-over">
                                        <a onclick="imagepage(@item.id)" class="btn"><span class="bucket">&#128092;</span></a>
                                      </div> <!-- end roll-over -->
                                      </figcaption> <!-- end img-meta -->
                                    </figure> <!-- end top-img -->
                                  </div><!--  end span3 -->
                                </text>
                            }
                          </div> <!-- end id="portfolio-container" -->

                        </div> <!-- end row-fluid -->
                      </div> <!-- end images-container -->

                    
                  </section> <!-- end top-images -->

                   <section class="main-pagination">
                      <div class="row-fluid">
                        <div class="span12">
                            <div class="inner-pagination">
                                <div class="pagination ">
                                  <ul>
                                    @for (int i = 1; i <= Model.PageCount; i++){
                                        <li ><a onclick="setpage(@i);" style="cursor:pointer;">@i</a></li>
                                    }
                                    @*<li><a href="#" class="btn prev"><i class="icon-chevron-left"></i></a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">6</a></li>
                                    <li><a href="#">7</a></li>
                                    <li><a href="#">8</a></li>
                                    <li><a href="#">9</a></li>
                                    <li><a href="#" class="btn next"><i class="icon-chevron-right"></i></a></li>*@
                                  </ul>
                                </div> <!-- end pagination -->
                            </div> <!-- end inner-pagination -->
                        </div> <!-- end span9 -->
                        @*<div class="span3">
                          <div class="portfolio-controllers-container v2">
                            <p class="pull-left sort-title">Images per page-</p>
                            <div class="btn-group dropup">
                              <button class="btn btn-large">15</button>
                              <button class="btn btn-large dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu">
                                <!-- dropdown menu links -->
                                <li><a href="#">20</a></li>
                                <li><a href="#">25</a></li>
                                <li><a href="#">35</a></li>
                              </ul>
                            </div> <!-- end btn-group -->
                          </div> <!-- end portfolio-controllers-container -->
                            
                        </div> <!-- end span3 -->*@
                      </div> <!-- end row -->
                  </section> <!-- end main-pagination -->

                
            </div> <!-- end span9 -->
          </div> <!-- end search-result-title -->
        </div> <!-- end row -->
      </div> <!-- end container -->
    </section> <!-- end search-results -->
  
    <!-- ============================  Search Results Ends ============================ -->
<script>
    var pg=@ViewBag.page;
    var order="@ViewBag.order";
    var to="@ViewBag.to";
    if (order.toString().indexOf("RANK")>=0){
        $("#order1").addClass("selected");
        $("#order").html("Phù hợp nhất");
    }
    if (order.toString().indexOf("id")>=0 && to.toString().indexOf("Desc")>=0){
        $("#order2").addClass("selected");
        $("#order").html("Mới nhất");
    }
    if (order.toString().indexOf("id")>=0 && to.toString().indexOf("Asc")>=0){
        $("#order3").addClass("selected");
        $("#order").html("Cũ nhất");
    }
    if (order.toString().indexOf("total_views")>=0){
        $("#order4").addClass("selected");
        $("#order").html("Xem nhiều nhất");
    }
    function setorder(field,t) {
        order=field;
        to=t;
        pg=1;
        search();
    }
    function setpage(page) {
        pg=page;
        search();
    }
    function search() {
        var url = "/Search?";
        var k = $("#skeyword").val();
        if (k == "") {
            return;
        }
        var f1="";
        var f2="";
        var f3="";
        var f4="";
        var f5="";
        for (var i = 1; i <= 3; i++) {
            if (document.getElementById("f-1_" + i).checked){
                f1 += document.getElementById("f-1_" + i).value + ",";
            }
        }
        for (var i = 1; i <= 3; i++) {
            if (document.getElementById("f-2_" + i).checked){
                f2 += document.getElementById("f-2_" + i).value + ",";
            }
        }
        for (var i = 1; i <= 30; i++) {
            if (document.getElementById("f-3_" + i) && document.getElementById("f-3_" + i).checked) {
                f3 += document.getElementById("f-3_" + i).value + ",";
            }
        }
        for (var i = 1; i <= 9; i++) {
            if (document.getElementById("f-4_" + i) && document.getElementById("f-4_" + i).checked) {
                f4 += document.getElementById("f-4_" + i).value + ",";
            }
        }
        for (var i = 1; i <= 5; i++) {
            if (document.getElementById("f-5_" + i) && document.getElementById("f-5_" + i).checked) {
                f5 += document.getElementById("f-5_" + i).value + ",";
            }
        }
        url += "k=" + k + "&f1=" + f1 + "&f2=" + f2 + "&f3=" + f3 + "&f4=" + f4 + "&f5=" + f5+"&order="+order+"&to="+to+"&pg="+pg;
        window.location.href = url;
    }
    var currentId = -1;
    function imagepage(id) {
        currentId = id;
        var formdata = new FormData(); //FormData object
        formdata.append("id", id);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/Photos/getImage');
        xhr.send(formdata);
        var content = "";
        $("#loadingimage").show();
        $("#imagepage").show();
        $("#image_source").attr("src", "/Images/loading.gif"); 
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                if (xhr.responseText != "0") {
                    //alert("Cập nhật thành công");
                    //window.location.href = "/Photos/User/1";
                    var news = '{"news":' + xhr.responseText + '}';
                    var json_parsed = $.parseJSON(news);      
                    for (var i = 0; i < json_parsed.news.length; i++) {
                        var src = json_parsed.news[i].link_thumbail_big;
                        var id = json_parsed.news[i].id;
                        var price = json_parsed.news[i].price;
                        var image_width_height = json_parsed.news[i].width + "x" + json_parsed.news[i].height;
                        var image_keyword = json_parsed.news[i].keywords;
                        $("#image_source").attr("src", src);
                        $("#image_id").html("File ID - #" + id);
                        $("#image_price").html(price);
                        $("#image_price2").html("Giá: " + formatCurrency(price));
                        $("#image_width_height").html(image_width_height);
                        $("#image_keyword").html("Từ khóa: "+image_keyword);
                    }
                    $("#loadingimage").hide();
                } else {
                    alert("Chương trình đang cập nhật, xin quay lại sau!");
                }
            }
        }
    }
    function downloadimage() {
        window.open("/Photos/downloadfile?id=" + currentId, "_self");
        //var formdata = new FormData(); //FormData object
        //formdata.append("id", currentId);
        //var xhr = new XMLHttpRequest();
        //xhr.open('POST', '/Photos/downloadfile');
        //xhr.send(formdata);
        //var content = "";
        //$("#loadingimage").show();
        //xhr.onreadystatechange = function () {
        //    if (xhr.readyState == 4 && xhr.status == 200) {
        //        if (xhr.responseText != "0") {
        //            $("#loadingimage").hide();
        //        } else {
        //            alert("Chương trình đang cập nhật, xin quay lại sau!");
        //        }
        //    }
        //}
    }
</script>