@model PagedList.IPagedList<Ichup.Models.member>
@using PagedList.Mvc; 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div id=settypediv style="width:50%;display:block;float:left;position:fixed;top:40%;left:25%;background-color:#c8e19b;z-index:1001;text-align:center;display:none;">
    <label class="label" id="addnewcatlabel">Kiểu user *:</label><select id="type"><option value="3">Editor</option><option value="4">Admin</option></select>
    <input type="button" value="Save" onclick="settype('');" class="btn btn-primary tf-btn color" style="position:relative; width:100px;"/>
    <input type="button" value="Close" onclick="$('#settypediv').hide();" class="btn btn-primary tf-btn color" style="position:relative; width:100px;"/>
</div>  
<h2>Danh sách user</h2>
<div style="float:left;width:100%;">
    <table style="width:100%;display:block;float:left;position:relative;">
        <tr>
            <th>Tên</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Type</th>
        </tr>
     @foreach (var item in Model)
     {
         <tr>
            <td>
                @item.name
            </td>
            <td>
                @item.email
            </td>
            <td>
                @item.phone
            </td>
            <td>
                <a onclick="lock(@item.id);" style="cursor:pointer;">Lock user</a> |
                <a onclick="showtype(@item.id);" style="cursor:pointer;">set Admin</a>
            </td>
        </tr>
     }
        </table>
</div>
<script>
    var currentID = -1;
    function lock(id) {
        currentID = id;
        settype(-1);
    }
    
    function showtype(id) {
        currentID = id;
        $('#settypediv').show();
    }
    function settype(stype) {
        var formdata = new FormData(); //FormData object

        var type = document.getElementById("type").value;
        if (stype != '') type = stype;
        formdata.append("type", type);
        formdata.append("id", currentID);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/members/updateType');
        xhr.send(formdata);
        var content = "";
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                if (xhr.responseText != "0" && xhr.responseText != "-1") {
                    alert("Cập nhật thành công. ");
                } else {
                    alert("Có lỗi trong quá trình cập nhật dữ liệu! Bạn");
                }
            }

        }
    }
</script>